# Xcode
DerivedData/
build/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp

# CocoaPods
Pods/

# Carthage
Carthage/Build/

